ChatterBot==1.0.4
chatterbot-corpus==1.2.0
Flask==2.0.1
Flask-Cors==3.0.10
GitPython==3.1.18
python-kubernetes==0.2
nltk==3.6.2
pyjokes==0.6.0
pyjsparser==2.7.1
pywhatkit==5.0
PyYAML==3.13
requests==2.25.1
websocket-client==1.1.0
Werkzeug==2.0.1
wikipedia==1.4.0
configparser==5.0.2